header {
  background-image: url("../assets/RAIN\ OR\ SHINE\ BEER\ IS\ FINE-1.png");
  height: 100vh;
  background-size: cover;
  .landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .title {
    text-align: center;
    line-height: 0.8;
  }
  h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
    font-family: 'Londrina Outline', cursive;
    text-shadow: 1px 1px black;
    span {
      display: block;
      font-size: 6.5rem;
      font-family: 'Londrina Solid', cursive;
      text-shadow: 5px 5px rgb(255, 246, 125);
    }
  }
  .landing-text {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
    text-shadow: 1px 1px black;
    line-height: 1.2;
    text-transform: uppercase;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    label {
      font-family: 'Roboto Mono', monospace;
      text-transform: uppercase;
      font-weight: bold;

    }
    input[type=text] {
      margin-top: 1.5%;
      width: 30%;
      align-self: center;
      background: transparent;
      border: none;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Roboto Mono', monospace;
      font-weight: bold;
      font-size: 1.5rem;
      border-bottom: 1.5px solid black;
      // i think we need to add hover to this as well for accessbility (???) 
      &:focus {
        // keep the outline but change the color 
        outline: none;
      }
    }
  }
}

.beer {
  align-items: center;
  background:rgb(255, 249, 159);
  padding-top: 5%;
  text-align: center;
    .weather-container {
      display: flex;
      font-family: 'Roboto Mono', monospace;
        .fa-sun {
          margin-right: 1.5%;
        }
    }
    .beer-name, 
    .brewery {
      font-size: 4rem;
      text-transform: uppercase;
      font-family: 'Londrina Solid', cursive;
    }
    .brewery {
      font-family: 'Londrina Outline', cursive;
      font-size: 2.5rem;
      margin-top: 5%;
    }
    .beer-results {
      display: flex;
      flex-direction: column;
        .image-container {
          width: 40%;
          height: auto;
            img {
              width: 100%;
              border-radius: 10px;
            }
        }
    }
}