$background-gradient: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 78%, rgba(204,204,204,1) 89%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
$accent-color: rgb(255, 249, 159);

$font-1-solid: 'Londrina Solid', cursive;
$font-1-outline: 'Londrina Outline', cursive;
$font-2: 'Roboto Mono', monospace;

h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: $font-1-outline;
  line-height: 0.8;
  font-size: 4.5rem;
  text-align: center;
  margin: 0;
}

h1 {
  text-shadow: 1px 1px black;
  span {
    display: block;
    font-size: 6.5rem;
    font-family: $font-1-solid;
    text-shadow: 5px 5px rgb(255, 246, 125);
  }
  .mobile-beer {
    display: inline;
  }
}

h2 {
  font-size: 2.5rem;
  
  &.beer-name {
    font-size: 3.5rem;
    font-family: $font-1-solid;
  }

  &.brewery {
    text-shadow: 0.3px 0.3px black;
    margin: 10px 0 0 0;
  }
}

h3 {
  padding: 20px 0;
  font-family: $font-2;
  font-size: 2rem;
  line-height: 1;
}

header,
main {
  height: 100vh;
  max-height: 1600px;
}

header {
  background-image: url("../assets/RAIN\ OR\ SHINE\ BEER\ IS\ FINE-1.png");
  background-size: cover;

  .landing-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .landing-text {
    text-align: center;
    font-size: 1.5rem;
    font-family: $font-2;
    text-shadow: 1px 1px black;
    line-height: 1.2;
    text-transform: uppercase;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  
    label {
      font-family: $font-2;
      text-transform: uppercase;
      font-weight: bold;
    }

    input[type=text] {
      margin-top: 1.5%;
      padding: 2px;
      width: 30%;
      align-self: center;
      background: transparent;
      border: none;
      border-bottom: 1.5px solid black;
      text-align: center;
      text-transform: uppercase;
      font-family: $font-2;
      font-weight: bold;
      font-size: 1.5rem;

      &:focus {
        outline: 2px solid $accent-color;
        border-bottom: 1.5px solid transparent;
      }
    }
    
    &:focus > input[type=text],
    &:hover > input[type=text] {
      outline: 2px solid $accent-color;
      border-bottom: 1.5px solid transparent;
    }
  }
}

.change-background {
  background: $accent-color;
  // position: relative;
}

.beer-page {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;

  background: $background-gradient;

  .weather-container {
    display: flex;
    font-family: $font-2;
    justify-content: center;
    padding: 30px 0;

    .fa-sun {
      margin-right: 1.5%;
    }
  }

  .side-panel {
    z-index: 1;
    
    display: flex;
    flex-direction: column;

    width: 25%;
    height: 100%;
    padding: 20px;
    padding-top: 75px;
    border-radius: 0 0 200px 0;
    box-shadow: 10px 0 20px -10px lightgray;

    .beer-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 30%;

      div {
        padding: 10px;
      }
      
      div:nth-child(1) {
        border-bottom: 2px solid black;
        padding-bottom: 12px;
      }

      p {
        font-family: $font-2;
        font-size: 1.5rem;
        padding-top: 35px;
      }

      p.beer-description {
        font-family: $font-2;
      }

      p.abv {
        padding: 0 0 20px 0;
      }

    }

    &.right-panel {
      order: 3;
      padding-top: 75px;

      border-radius: 0 0 0 200px;
      box-shadow: -10px 0 20px -10px lightgray;
        .brewery-description {
          font-family: $font-2;
          font-size: 0.9rem;
        }
    }
  }

  p.beer-description {
  font-family: $font-2;
}

button.beer-info {
  font-family: $font-2;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  border: 1.5px solid rgb(252, 235, 2);
  background:rgb(252, 235, 2);
  // trbl
  padding: 10px 20px;
  &:hover {
    border: 1.5px solid black;
  }
}

  .beer-results {
    order:2;
    
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
  }

  .results-title {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .image-container {
    max-height: 80%;
    height: auto;
    width: auto;
    padding: 0 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    img {
      display: block;
      object-fit: contain;
      margin: 0 auto;
      
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      
      border-radius: 40px 40px 0 0;
    }
  }
}

.location {
  background: transparent; 
  border: none;
  font-family: $font-2;
  cursor: pointer;
  &:hover {
    letter-spacing: 0.5px;
  }
}

.modal-overlay {
  height: 100vh;
  width: 100vw;
  background:rgb(252, 235, 2);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.modal-container {
  display: none;
  position: fixed;
  left: 50%;
  margin-left: -450px;
  top: 50%;
  margin-top: -325px;
  // width: 500px;
  // height: 350px;
}


#mapid {
  width: 900px;
  height: 650px;
  border-radius: 30px;
}

.beer-info-text {
  font-family: $font-2;
  font-size: 1rem;
}