html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 2px;
}

h1, p, input, label, form {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.wrapper-two {
  max-width: 1500px;
  width: 85%;
  margin: 0 auto;
}

header {
  background-image: url("../assets/RAIN OR SHINE BEER IS FINE-1.png");
  height: 100vh;
  background-size: cover;
}
header .landing-page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header .title {
  text-align: center;
  line-height: 0.8;
}
header h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-family: "Londrina Outline", cursive;
  text-shadow: 1px 1px black;
}
header h1 span {
  display: block;
  font-size: 6.5rem;
  font-family: "Londrina Solid", cursive;
  text-shadow: 5px 5px #fff67d;
}
header .landing-text {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Roboto Mono", monospace;
  text-shadow: 1px 1px black;
  line-height: 1.2;
  text-transform: uppercase;
}
header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
header form label {
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  font-weight: bold;
}
header form input[type=text] {
  margin-top: 1.5%;
  padding: 2px;
  width: 30%;
  -ms-flex-item-align: center;
      align-self: center;
  background: transparent;
  border: none;
  border-bottom: 1.5px solid black;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 1.5rem;
}
header form input[type=text]:focus {
  outline: 2px solid #fff99f;
  border-bottom: 1.5px solid transparent;
}
header form:focus > input[type=text], header form:hover > input[type=text] {
  outline: 2px solid #fff99f;
  border-bottom: 1.5px solid transparent;
}

.beer-page {
  width: 100%;
  height: 100vh;
  background: #fff99f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.beer-page .weather-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto Mono", monospace;
}
.beer-page .weather-container .fa-sun {
  margin-right: 1.5%;
}
.beer-page .beer-name,
.beer-page .brewery {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "Londrina Outline", cursive;
}
.beer-page .brewery {
  text-shadow: 0.3px 0.3px black;
}
.beer-page .beer-name {
  font-size: 3.5rem;
  font-family: "Londrina Solid", cursive;
  margin-top: 5%;
}
.beer-page .side-panel {
  width: 25%;
  background: white;
}
.beer-page .side-panel .background-rad {
  height: 100%;
  padding-bottom: 10px;
  background: #fff99f;
  border-radius: 0 30px 250px 0;
}
.beer-page .side-panel.right-panel {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.beer-page .side-panel.right-panel .background-rad {
  border-radius: 30px 0 0 250px;
}
.beer-page .side-panel .beer-name,
.beer-page .side-panel .brewery {
  padding: 75px 0;
  font-family: "Roboto Mono", monospace;
  font-size: 2.5rem;
}
.beer-page .beer-results {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  width: 50%;
  height: 100%;
}
.beer-page .beer-results .image-container {
  height: 80%;
  width: auto;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.beer-page .beer-results .image-container img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 40px 40px 0 0;
}