html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 2px;
}

h1, p, input, label, form {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.wrapper-two {
  max-width: 1900px;
  width: 85%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: "Londrina Outline", cursive;
  line-height: 0.8;
  font-size: 4.5rem;
  text-align: center;
  margin: 0;
}

h1 {
  text-shadow: 1px 1px black;
}
h1 span {
  display: block;
  font-size: 6.5rem;
  font-family: "Londrina Solid", cursive;
  text-shadow: 5px 5px #fff67d;
}
h1 .mobile-beer {
  display: inline;
}

h2 {
  font-size: 2.5rem;
}
h2.beer-name {
  font-size: 3.5rem;
  font-family: "Londrina Solid", cursive;
}
h2.brewery {
  text-shadow: 0.3px 0.3px black;
  margin: 10px 0 0 0;
}

h3 {
  padding: 20px 0;
  font-family: "Roboto Mono", monospace;
  font-size: calc(0.8rem + 1.8vw);
  line-height: 1;
}

header,
main {
  height: 100vh;
  max-height: 1600px;
}

header {
  background-image: url("../assets/RAIN OR SHINE BEER IS FINE-1.png");
  background-size: cover;
}
header .landing-page {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header .landing-text {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Roboto Mono", monospace;
  text-shadow: 1px 1px black;
  line-height: 1.2;
  text-transform: uppercase;
}
header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
header form label {
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  font-weight: bold;
}
header form input[type=text] {
  margin-top: 1.5%;
  padding: 2px;
  width: 30%;
  -ms-flex-item-align: center;
      align-self: center;
  background: transparent;
  border: none;
  border-bottom: 1.5px solid black;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 1.5rem;
}
header form input[type=text]:focus {
  outline: 2px solid #fff99f;
  border-bottom: 1.5px solid transparent;
}
header form:focus > input[type=text], header form:hover > input[type=text] {
  outline: 2px solid #fff99f;
  border-bottom: 1.5px solid transparent;
}

.change-background {
  background: #fff99f;
}

.beer-page {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(78%, whitesmoke), color-stop(89%, #cccccc), color-stop(99%, white), to(white));
  background: linear-gradient(180deg, white 0%, whitesmoke 78%, #cccccc 89%, white 99%, white 100%);
}
.beer-page .weather-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto Mono", monospace;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
}
.beer-page .weather-container .fa-sun {
  margin-right: 1.5%;
}
.beer-page .side-panel {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  height: 100%;
  padding: 20px;
  padding-top: 75px;
  border-radius: 0 0 200px 0;
  -webkit-box-shadow: 10px 0 20px -10px lightgray;
          box-shadow: 10px 0 20px -10px lightgray;
}
.beer-page .side-panel .beer-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 30%;
}
.beer-page .side-panel .beer-details div {
  padding: 10px;
}
.beer-page .side-panel .beer-details div:nth-child(1) {
  border-bottom: 2px solid black;
  padding-bottom: 12px;
}
.beer-page .side-panel .beer-details p {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
}
.beer-page .side-panel .beer-details p.beer-description {
  font-family: "Roboto Mono", monospace;
}
.beer-page .side-panel .beer-details p.abv {
  padding: 0 0 20px 0;
}
.beer-page .side-panel.left-panel .text-container {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.beer-page .side-panel.right-panel {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  padding-top: 75px;
  border-radius: 0 0 0 200px;
  -webkit-box-shadow: -10px 0 20px -10px lightgray;
          box-shadow: -10px 0 20px -10px lightgray;
}
.beer-page .side-panel.right-panel .brewery-description {
  font-family: "Roboto Mono", monospace;
  font-size: 0.9rem;
}
.beer-page p.beer-description {
  font-family: "Roboto Mono", monospace;
}
.beer-page button.beer-info {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  border: 1.5px solid #fceb02;
  background: #fceb02;
  padding: 10px 20px;
}
.beer-page button.beer-info:hover {
  border: 1.5px solid black;
}
.beer-page .beer-results {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.beer-page .results-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.beer-page .image-container {
  max-height: 80%;
  height: auto;
  width: auto;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.beer-page .image-container img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 40px 40px 0 0;
}

.location {
  background: transparent;
  border: none;
  font-family: "Roboto Mono", monospace;
  cursor: pointer;
}
.location:hover {
  letter-spacing: 0.5px;
}

.modal-overlay {
  height: 100vh;
  width: 100vw;
  background: #fceb02;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.modal-container {
  display: none;
  position: fixed;
  left: 50%;
  margin-left: -450px;
  top: 50%;
  margin-top: -325px;
}

#mapid {
  width: 900px;
  height: 650px;
  border-radius: 30px;
}

.beer-info-text {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
}

@media (max-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h1 span {
    font-size: 5.5rem;
  }

  header form input[type=text] {
    width: 50%;
  }
}
@media (max-width: 680px) {
  h1 {
    font-size: 3rem;
  }
  h1 span {
    font-size: 4.5rem;
  }

  header .landing-text {
    font-size: 1.35rem;
  }
}
@media (max-width: 563px) {
  h1 span {
    font-size: 4rem;
  }
}
@media (max-width: 502px) {
  h1 {
    font-size: 2.5rem;
  }
  h1 span {
    font-size: 4.5rem;
  }
  h1 span .mobile-beer {
    display: block;
    font-size: 6.5rem;
  }

  header .landing-text {
    font-size: 1rem;
  }
}
@media (max-width: 358px) {
  h1 {
    font-size: 2.15rem;
  }
}